<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8"/>
    <title>Decimatech STS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="Decimatech Yazilim" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css"/>


    <link href="/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css"/>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <link href="/utility/css/mixed.css" rel="stylesheet" type="text/css"/>

    <!-- END THEME LAYOUT STYLES -->
    <link rel="icon" type="image/x-icon" href="/utility/img/favicon.png"/>
</head>

<body class="page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo page-content-white">

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/">
                <img src="/utility/img/logo.png" alt="logo" class="logo-default"> </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span id="notificationCount" class="badge badge-danger"> </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                <span id="notificationCount2" class="bold"></span> <b>okunmamış bildirim</b></h3>
                            <a th:href="@{/demands/}"><b>TÜMÜ</b></a>
                        </li>
                        <li>
                            <ul id="notificationMenu" class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-user"></i>
                        <span class="username uppercase username-hide-on-mobile" sec:authentication="name"> </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!--<li>-->
                        <!--<a href="page_user_profile_1.html">-->
                        <!--<i class="icon-user"></i> My Profile </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="app_calendar.html">-->
                        <!--<i class="icon-calendar"></i> My Calendar </a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="app_inbox.html">-->
                        <!--<i class="icon-envelope-open"></i> My Inbox-->
                        <!--<span class="badge badge-danger"> 3 </span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="app_todo.html">-->
                        <!--<i class="icon-rocket"></i> My Tasks-->
                        <!--<span class="badge badge-success"> 7 </span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                        <!--<a href="page_user_lock_1.html">-->
                        <!--<i class="icon-lock"></i> Lock Screen </a>-->
                        <!--</li>-->
                        <li>
                            <a th:href="@{/logout}">
                                <i class="icon-logout"></i> Çıkış </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu   page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-item start">
                    <a th:href="@{/}" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">ANA SAYFA</span>
                    </a>
                </li>

                <li class="heading" sec:authorize="hasAuthority('ADMIN')">
                    <h3>ADMİN YÖNETİMİ</h3>
                </li>
                <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('vendors')) ? 'active open':''}" class="nav-item " sec:authorize="hasAuthority('ADMIN')">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span class="title">BAYİLER</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/vendors/create')) ? 'active':''}" class="nav-item">
                            <a th:href="@{/vendors/create}" class="nav-link ">
                                <span class="title">Bayi Ekle</span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/vendors'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/vendors}" class="nav-link ">
                                <span class="title">Bayileri Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('machines')) ? 'active open':''}" class="nav-item " sec:authorize="hasAuthority('ADMIN')">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span class="title">MAKİNELER</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/machines/create')) ? 'active':''}" class="nav-item">
                            <a th:href="@{/machines/create}" class="nav-link ">
                                <span class="title">Makine Ekle</span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/machines'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/machines}" class="nav-link ">
                                <span class="title">Makineleri Listele</span>
                            </a>
                        </li>
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/machines/types/create')) ? 'active':''}" class="nav-item">
                            <a th:href="@{/machines/types/create}" class="nav-link ">
                                <span class="title">Makine Türü Ekle</span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/machines/types'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/machines/types}" class="nav-link ">
                                <span class="title">Makine Türleri Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('parts')) ? 'active open':''}" class="nav-item " sec:authorize="hasAuthority('ADMIN')">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span class="title">PARÇALAR</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/parts/create')) ? 'active':''}" class="nav-item">
                            <a th:href="@{/parts/create}" class="nav-link ">
                                <span class="title">Parça Ekle</span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/parts'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/parts}" class="nav-link ">
                                <span class="title">Parçaları Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="heading">
                    <h3>TALEP YÖNETİMİ</h3>
                </li>
                <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('demands')) ? 'active open':''}" class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span id="talepSpan" class="title">TALEPLER </span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('/demands/create')) ? 'active':''}" class="nav-item">
                            <a th:href="@{/demands/create}" class="nav-link ">
                                <span class="title">Talep Ekle</span>
                            </a>
                        </li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/demands'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/demands}" class="nav-link ">
                                <span class="title">Talepleri Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li th:classappend="${(#httpServletRequest.requestURL.toString().contains('maintains')) ? 'active open':''}" class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-diamond"></i>
                        <span id="servisSpan" class="title">SERVİSLER</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/maintains'  ? 'active':''}" class="nav-item  ">
                            <a th:href="@{/maintains}" class="nav-link ">
                                <span class="title">Servisleri Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <div th:replace="${view} :: content"></div>

    <!-- END SIDEBAR -->
    <!-- END CONTAINER -->
</div>

<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>

<script src="/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
<script src="/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<script src="/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/horizontal-timeline/horozontal-timeline.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>

<script src="/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/datatables.all.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="/utility/js/tables.js" type="text/javascript"></script>
<script src="/utility/js/city-district-picker.js" type="text/javascript"></script>
<script src="/utility/js/notifications.js" type="text/javascript"></script>
<script>
    //    var rowCount = 0;
    //
    //    function addRow() {
    //        var table = document.getElementById("mytable");
    //        var row = table.insertRow(rowCount);
    //        row.insertCell(0).innerHTML = '<input type="text" class="form-control" value name="contacts[' + rowCount + `].username` + '" />';
    //        row.insertCell(1).innerHTML = '<input type="text" class="form-control" value name="contacts[' + rowCount + `].password` + '" />';
    //        row.insertCell(2).innerHTML = '<input type="text" class="form-control" value name="contacts[' + rowCount + `].email` + '" />';
    //
    //        table.appendChild(row);
    //        rowCount = rowCount + 1;
    //
    //    }
    $(document).ready(function () {

        jQuery('.fancybox').each(function(i,e){
            jQuery(e).css('background-image','url('+jQuery(e).attr('href')+')');
        });
        jQuery("a.fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });

        $('#invoiceDiv input').datepicker({
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $('#reportDiv input').datepicker({
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $('#startTime').timepicker({
            showMeridian: false,
            minuteStep: 10
        });

        $('#finishTime').timepicker({
            showMeridian: false,
            minuteStep: 10
        });

        $('#vendorTel').inputmask("(999) 999 99 99", {
            clearMaskOnLostFocus: false,
            removeMaskOnSubmit: true
        });
        $('#vendorOfficerTel').inputmask("(999) 999 99 99", {
            clearMaskOnLostFocus: false,
            removeMaskOnSubmit: true
        });
        $('#customerTel').inputmask("(999) 999 99 99", {
            clearMaskOnLostFocus: false,
            removeMaskOnSubmit: true
        });
    });
</script>
</body>
</html>