<th:block th:fragment="content">
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid" style="margin-top: 5%">

                <div style="padding-left: 10%">

                    <form action="#" th:action="@{/admins/create}" th:object="${admin}" method="post" class="form-horizontal">

                        <div class="col-md-7">
                            <div class="form-group well">
                                <h2 style="text-align: center">Admin Ekleme Formu</h2>
                                <br/>


                                <div class="form-group">
                                    <label class="control-label col-sm-2">Admin Adı</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="username" placeholder="Bayi Kullanıcı Adı"
                                               th:field="*{username}" th:value="*{username}"/>
                                    </div>
                                </div>
                                <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger">
                                    <p th:errors="*{username}"></p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">Admin Şifresi</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="password" placeholder="Bayi Şifresi"
                                               th:field="*{password}" th:value="*{password}"/>
                                    </div>
                                </div>
                                <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
                                    <p th:errors="*{password}"></p>
                                </div>


                                <button type="submit" class="btn btn-info" style="float: right">Admin Ekle</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>

        </div>


    </div>
</th:block>