<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:fragment="content">
    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="portlet box blue-chambray ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i> Servis Formu
                    </div>
                </div>

                <div class="portlet-body form">
                    <form class="horizontal-form" autocomplete="off" th:action="@{/maintains/details/__*{maintain.maintainId}__}" th:object="${form}" method="post">
                        <div class="form-body">
                            <h3 class="form-section">Müşteri Bilgileri</h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Bayi Seçiniz</label>
                                        <select th:field="*{demand.vendorId}" class="form-control" disabled>
                                            <option th:each="vendor : ${vendors}" th:value="${vendor.vendorId}"
                                                    th:text="${vendor.toString()}"></option>
                                        </select>
                                    </div>
                                    <div th:if="${#fields.hasErrors('demand.vendorId')}" class="alert alert-danger">
                                        <p th:errors="*{demand.vendorId}"></p>
                                    </div>
                                </div>
                            </div>

                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri Adı</label>
                                        <div class="">
                                            <input type="text" class="form-control" id="customerName"
                                                   placeholder="Müşteri Adı"
                                                   th:field="*{demand.customerName}" th:value="*{demand.customerName}" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri Soyadı</label>
                                        <input type="text" class="form-control" id="customerSurname"
                                               placeholder="Müşteri Soyadı"
                                               th:field="*{demand.customerSurname}" th:value="*{demand.customerSurname}" disabled/>
                                    </div>
                                </div>
                            </div>

                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri Adresi</label>
                                        <div class="">
                                            <input type="text" class="form-control" id="customerAddress"
                                                   placeholder="Müşteri Telefonu"
                                                   th:field="*{demand.customerAddress}" th:value="*{demand.customerAddress}" disabled/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri Telefonu</label>
                                        <input type="text" class="form-control" id="customerTel"
                                               placeholder="Müşteri Telefonu"
                                               th:field="*{demand.customerTel}" th:value="*{demand.customerTel}" disabled/>
                                    </div>

                                </div>
                            </div>

                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri İl</label>
                                        <select th:field="*{demand.customerCity}" class="form-control" id="city-select" disabled>
                                            <th:block th:if="*{demand.customerCity != null}">
                                                <option th:value="*{demand.customerCity}" th:text="${city.cityName}"></option>
                                                <option value='-' disabled>──────────</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri İlçe</label>
                                        <select th:field="*{demand.customerDistrict}" class="form-control" id="district-select" disabled>
                                            <th:block th:if="*{demand.customerDistrict != null}">
                                                <option th:value="*{demand.customerDistrict}" th:text="${district.districtName}"></option>
                                                <option value='-' disabled>──────────</option>
                                            </th:block>

                                        </select>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Talep Bilgileri</h3>

                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Talep Notu</label>
                                            <textarea type="text" rows="3" class="form-control" id="demandNote" placeholder="Talep Notu"
                                                      th:field="*{demand.demandNote}" th:value="*{demand.demandNote}" disabled></textarea>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Talep Türü</label>
                                        <select class="form-control" th:field="*{demand.demandType}"
                                                name="type-selector" disabled>
                                            <option th:each="type : *{T(com.decimatech.tarim.model.Demand.Type).values()}"
                                                    th:value="${type}" th:text="${type.displayName}">

                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Makine Bilgileri</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Makine Modeli</label>
                                        <select th:field="*{maintain.machineId}" class="form-control" disabled>
                                            <option value="0">YOK</option>
                                            <option th:each="machine : ${machines}" th:value="${machine.machineId}"
                                                    th:text="${machine.toString()}"></option>
                                        </select>
                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.machineId')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.machineId}"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Makine Seri No</label>
                                        <input type="text" id="machineSerialNo" class="form-control"
                                               th:value="*{maintain.machineSerialNo}" th:field="*{maintain.machineSerialNo}" disabled>

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.machineSerialNo')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.machineSerialNo}"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Garanti Durumu</label>
                                        <div class="col-md-9">
                                            <div class="mt-checkbox-list">
                                                <label class="mt-checkbox">
                                                    <input disabled type="checkbox" th:checked="*{maintain.warranty}" th:field="*{maintain.warranty}"> Garantisi Var
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Fatura Tarihi</label>
                                        <div id="invoiceDiv">
                                            <input disabled class="form-control form-control-inline input-medium date-picker"
                                                   data-date-format="dd-mm-yyyy" size="16" id="invoiceDate" type="text"
                                                   th:field="*{maintain.invoiceDate}" th:value="*{maintain.invoiceDate}">
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.invoiceDate')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.invoiceDate}"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Garanti Durumu Açıklama</label>
                                        <input disabled type="text" id="warrantyDesc" class="form-control"
                                               th:value="*{maintain.warrantyDesc}" th:field="*{maintain.warrantyDesc}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.warrantyDesc')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.warrantyDesc}"></p>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Servis Bilgileri</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Servis Konusu ve Nedeni</label>
                                        <textarea disabled id="maintainDesc" class="form-control" rows="2"
                                                  th:value="*{maintain.maintainDesc}" th:field="*{maintain.maintainDesc}"></textarea>

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.maintainDesc')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.maintainDesc}"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Yapılan İşlem</label>
                                        <textarea disabled id="process" class="form-control" rows="2"
                                                  th:value="*{maintain.process}" th:field="*{maintain.process}"></textarea>

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.process')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.process}"></p>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Güzergah</label>
                                        <input disabled type="text" id="route" class="form-control"
                                               th:value="*{maintain.route}" th:field="*{maintain.route}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.route')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.route}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Toplam Mesafe</label>
                                        <input disabled type="number" id="totalDıstance" class="form-control"
                                               th:value="*{maintain.totalDistance}" th:field="*{maintain.totalDistance}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.totalDistance')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.totalDistance}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Başlama Zamanı</label>
                                        <div class="input-group">
                                            <input disabled th:field="*{maintain.startTime}" th:value="*{maintain.startTime}"
                                                   id="startTime" type="text" class="form-control timepicker timepicker-24">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-clock-o"></i>
                                                            </button>
                                                        </span>
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.startTime')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.startTime}"></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Bitiş Zamanı</label>
                                        <div class="input-group">
                                            <input disabled th:field="*{maintain.finishTime}" th:value="*{maintain.finishTime}"
                                                   id="finishTime" type="text" class="form-control timepicker timepicker-24">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-clock-o"></i>
                                                            </button>
                                                        </span>
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.finishTime')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.finishTime}"></p>
                                    </div>
                                </div>

                            </div>

                            <h3 class="form-section">Rapor Bilgileri</h3>


                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Raporun Düzenleyen</label>
                                        <input disabled type="text" id="reportOwner" class="form-control"
                                               th:value="*{maintain.reportOwnerSig}" th:field="*{maintain.reportOwnerSig}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.reportOwnerSig')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.reportOwnerSig}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri veya Vekili</label>
                                        <input disabled type="text" id="customerSig" class="form-control"
                                               th:value="*{maintain.customerSig}" th:field="*{maintain.customerSig}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.customerSig')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.customerSig}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Servis Müdürü</label>
                                        <input disabled type="text" id="vendorManagerSig" class="form-control"
                                               th:value="*{maintain.vendorManagerSig}" th:field="*{maintain.vendorManagerSig}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.vendorManagerSig')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.vendorManagerSig}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Servis Tarihi</label>
                                        <div id="reportDiv">
                                            <input disabled class="form-control form-control-inline input-medium date-picker"
                                                   data-date-format="dd-mm-yyyy" size="16" id="reportDate" type="text"
                                                   th:field="*{maintain.reportDate}" th:value="*{maintain.reportDate}">
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.reportDate')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.reportDate}"></p>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">İşçilik Ücreti</label>
                                        <input disabled type="number" id="laborCost" class="form-control"
                                               th:value="*{maintain.laborCost}" th:field="*{maintain.laborCost}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.laborCost')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.laborCost}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Yol Ücreti</label>
                                        <input disabled type="number" id="distanceCost" class="form-control"
                                               th:value="*{maintain.distanceCost}" th:field="*{maintain.distanceCost}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.distanceCost')}" class="alert alert-danger">
                                        <p th:errors="*{maintain.distanceCost}"></p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Toplam Ücret</label>
                                        <input disabled type="number" id="totalCost" class="form-control"
                                               th:value="*{maintain.totalCost}" th:field="*{maintain.totalCost}">

                                    </div>
                                    <div th:if="${#fields.hasErrors('maintain.totalCost')}" class="alert a lert-danger">
                                        <p th:errors="*{maintain.totalCost}"></p>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Değiştirilen Parçalar</h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="replacedPartTable"
                                           role="grid">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Parça Seri No</th>
                                            <th>Adedi</th>
                                            <th>Birim Fiyat</th>
                                            <th>Toplam Fiyat</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="replacedPart, stat : *{replacedPartList}">
                                            <td th:text="${__${stat.index+1}__}"></td>
                                            <td><input disabled type="text" class="form-control" th:value="*{replacedPartList[__${stat.index}__].partSerialNo}"
                                                       th:field="*{replacedPartList[__${stat.index}__].partSerialNo}"></td>
                                            <td><input disabled type="number" class="form-control" th:value="*{replacedPartList[__${stat.index}__].quantity}"
                                                       th:field="*{replacedPartList[__${stat.index}__].quantity}"></td>
                                            <td><input disabled type="number" class="form-control" th:value="*{replacedPartList[__${stat.index}__].unitPrice}"
                                                       th:field="*{replacedPartList[__${stat.index}__].unitPrice}"></td>
                                            <td><input disabled type="number" class="form-control" th:value="*{replacedPartList[__${stat.index}__].totalPrice}"
                                                       th:field="*{replacedPartList[__${stat.index}__].totalPrice}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="alert alert-info">
                                        <strong>Dikkat!</strong> Servis formunuz şu anda merkeze iletilmiştir. Artık rapor üzerinde düzenleme işlemi yapamazsınız.
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>