<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="portlet box blue-chambray">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Servisler
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="myTable" role="grid">
                            <thead>
                            <tr>
                                <th>Servis ID</th>
                                <th>Talep ID</th>
                                <th>Talep Durumu</th>
                                <th>Bayi Adı</th>
                                <th>Servis İl</th>
                                <th>Servis İlçe</th>
                                <th>Müşteri Adı</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="maintain : ${maintains}">
                                <td th:text="${maintain.maintainId}">0</td>
                                <td th:text="${maintain.demandId}">0</td>
                                <td th:switch="${maintain.demandState}">
                                    <span class="label label-md label-default" th:case="OPEN">Açık</span>
                                    <span class="label label-md label-warning" th:case="IN_PROGRESS">Servis Aşamasında</span>
                                    <span class="label label-md label-primary" th:case="COMPLETED">Merkez Onayı Bekleniyor</span>
                                    <span class="label label-md label-danger" th:case="REJECTED">Merkez Tarafından Reddedildi</span>
                                    <span th:case="UNCOMPLETED">Yarım Kaldı</span>
                                    <span class="label label-md label-success" th:case="APPROVED">Merkez Tarafından Onaylandı</span>
                                </td>
                                <td th:text="${maintain.vendorName}">0</td>
                                <td th:text="${maintain.city}">0</td>
                                <td th:text="${maintain.district}">0</td>
                                <td th:text="${maintain.customerName}">0</td>
                                <td>
                                    <a th:href="@{/maintains/details/__${maintain.maintainId}__}">Detay</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

