<th:block th:fragment="content">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="portlet box blue-chambray">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Servis Özeti
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="horizontal-form" autocomplete="off">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Servis ID</label>
                                        <input type="text" contenteditable="false" class="form-control" id="ServisID"
                                               placeholder="Servis ID"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fatura Tarihi</label>
                                        <div id="invoiceDiv">
                                            <input class="form-control form-control-inline input-medium date-picker"
                                                   data-date-format="dd-mm-yyyy" size="16" id="invoiceDate" type="text" value="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Makina Cinsi</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="Makina Cinsi"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Makina Modeli</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="Makina Modeli"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Müşteri Adresi</label>

                                        <div class="">
                                            <input type="text" class="form-control" id="customerAddress"
                                                   placeholder="Müşteri Adres"
                                            />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">İl</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="İl"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">İlçe</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="İlçe"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Gidilen yol</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="Gidilen yol"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Geçirilen süre</label>
                                        <input type="text" contenteditable="false" class="form-control"
                                               placeholder="Geçirilen süre"/>
                                    </div>
                                </div>

                            </div>


                            <div class="form-actions">
                                <button type="submit" class="btn blue">
                                    <i class="fa fa-check"></i> Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>