<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="portlet box blue-chambray">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-home"></i> Parça Ekleme
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form id="machineForm" th:action="@{/parts/create}" th:object="${part}" method="post" class="horizontal-form" autocomplete="off">
                        <div class="form-body">
                            <h3 class="form-section">Parça</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Ait Olduğu Makine</label>
                                        <select th:field="${part.machineId}" class="form-control">
                                            <option value="0">YOK</option>
                                            <option th:each="machine : ${machines}" th:value="${machine.machineId}"
                                                    th:text="${machine.toString()}"></option>
                                        </select>
                                    </div>
                                    <div th:if="${#fields.hasErrors('machineId')}" class="alert alert-danger">
                                        <p th:errors="*{machineId}"></p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Parça Adı</label>
                                        <input type="text" class="form-control" id="partName"
                                               placeholder="Parça Adı" th:field="*{partName}" th:value="*{partName}"/>
                                    </div>
                                    <div th:if="${#fields.hasErrors('partName')}" class="alert alert-danger">
                                        <p th:errors="*{partName}"></p>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Parça Fiyatı</label>
                                        <input type="text" class="form-control" id="partPrice"
                                               placeholder="Parça Fiyatı" th:field="*{price}" th:value="*{price}"/>
                                    </div>
                                    <div th:if="${#fields.hasErrors('price')}" class="alert alert-danger">
                                        <p th:errors="*{price}"></p>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->

                            <div class="form-actions">
                                <button type="submit" class="btn blue">
                                    <i class="fa fa-check"></i> KAYDET
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</th:block>
