.label-success {
    background-color: #5cb85c;
}

.label.label-md {
    min-width: 225px;
    min-height: 22px;
    display: inline-block;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 400px;
    width: 400px;
}

a.fancybox {
    display: inline-block;
    width: 225px;
    height: 150px;
    background-size: cover;
}